# Ignore batch files
git_auto_commit.bat

# Ignore Folders
/modul-3/Datasets for Students
/modul-3/.ipynb_checkpoints

# Ignore Documents
*.pdf

# Ignore Python bytecode files
*.pyc

# Ignore temporary files
*.log
*.tmp
*.mkv
*.clv
*.pptx
